<main ng-repeat="story in vm.stories">
	<article>

		<h1>
			<a ng-href="{{story.key.url}}">{{story.key.title}}</a>
		</h1>
		<p>
			enviado por <a
				ng-href="#/user/{{ story.value.id }}"
				class="enviadoPor">{{story.value.name}}</a>:
		</p>
		<p>{{story.key.text}}</p>

		<div class="feedback">
		<div ng-show="vm.myStories == true"> </div>
			<span class="comentarios"><a ng-href="#/story/{{ story.key.id }}">comentarios</a></span> 
			
			<span ng-show="vm.myStories == true"
					class="edit"><a
					ng-href="#/editStory/{{ story.key.id }}"> <i
					class="fa fa-pencil-square-o"></i> editar
			</a></span>
			<span ng-show="vm.myStories == true"
					class="edit"><a
					ng-click="vm.funciones.deleteStory(story.key.id)"> <i
					class="fa fa-trash-o"></i> borrar
			</a></span>
			
						
			<span ng-show="vm.myStories == false" class="like"><i class="fa fa-thumbs-o-up" ng-click="vm.funciones.like($index)"></i></span> 
			<span ng-show="vm.myStories == false" class="dislike"><i class="fa fa-thumbs-o-down" ng-click="vm.funciones.dislike($index)"></i></span> 
			<span ng-show="vm.myStories == false">{{story.key.likes}}</span>

		</div>

	</article>
</main>